// bower:scss
// endbower

@font-face {
    font-family: 'league'; /*a name to be used later*/
    src: url('../LeagueGothic-Regular.otf'); /*URL to font*/
}

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;

  margin: 0 auto;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

//////////////////////////////// Nav

header {
    position: fixed;
    top: 0;
    left: 45%;
    height: 60px;
    z-index: 9999;

    & img {
        display: inline-block;
    }

    & nav {
        position: fixed;
        top: 30%;
        right: 0;

        & li {
            
        }
    }
}

//////////////////////////////// Main section
.main {
    padding-top: 60px;
    height: 100vh;
    background-color: lightblue;
    font-family: 'league';
}

.main-inner {
    width: 100%;
    max-width: 1060px;
}

//////////////////////////////// Second section
.second-break {
    height: 50px;
    width: 100%;
}

.second {
    position: relative;
    height: 600px;
    width: 100%;
    max-width: 1060px;
}

.box-two {
    position: absolute;
    top: 40px;
    left: 60px;
    height: 100px;
    width: 100px;
    background-color: coral;
    transition: all .5s ease-in-out;
}

//////////////////////////////// Third section
.third-break {
    height: 50px;
    width: 100%;
}

.third {
    position: relative;
    height: 600px;
    width: 100%;
    max-width: 1060px;
}

.box-three {
    position: absolute;
    top: 40px;
    left: 60px;
    height: 100px;
    width: 100px;
    background-color: coral;
    transition: all .5s ease-in-out;
}

///////////////////////// Scroll Movements

.box-two-move {
    top: 60px;
    left: 200px;
    transition: all .5s ease-in-out;
}

//////////////////////////////////////// Footer

footer {
    height: 60px;
    width: 100%;
    max-width: 1060px;

    & li {
        display: inline-block;
    } 
}


////////////////////////// Browse Happy
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
