// bower:scss
// endbower

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;

  margin: 0 auto;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.main {
    height: 100vh;
    background-color: lightblue;
}

.second {
    position: relative;
    height: 300px;
}

.third {
    position: relative;
    height: 300px;
}

.box-two, .box-three {
    position: absolute;
    top: 40px;
    left: 60px;
    height: 100px;
    width: 100px;
    background-color: coral;
    transition: all .5s ease-in-out;
}

///////////////////////// Scroll Movements

.box-two-move {
    top: 60px;
    left: 200px;
    transition: all .5s ease-in-out;
}


////////////////////////// Browse Happy
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
