// bower:scss
// endbower

@font-face {
    font-family: 'league'; /*a name to be used later*/
    src: url('../LeagueGothic-Regular.otf'); /*URL to font*/
}

@font-face {
    font-family: 'league-italic'; /*a name to be used later*/
    src: url('../LeagueGothic-Italic.otf'); /*URL to font*/
}

@font-face {
    font-family: 'league-condensed'; /*a name to be used later*/
    src: url('../LeagueGothic-CondensedRegular.otf'); /*URL to font*/
}

@font-face {
    font-family: 'league-condensed-italic'; /*a name to be used later*/
    src: url('../LeagueGothic-CondensedItalic.otf'); /*URL to font*/
}

*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;

  margin: 0 auto;
}

body {
    background: #fafafa;
    font: normal 14px/30px Georgia, "Times New Roman", Times, serif;
    color: #191918;
}

h1 {
    font-family: 'league', Helvetica, Arial, sans-serif;
    font-size: 7em;
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 1em;
}

h2 {
    font-family: 'league', Helvetica, Arial, sans-serif;
}

h3 {
    font-family: 'league', Helvetica, Arial, sans-serif;
}

//////////////////////////////// Nav

header {
    position: fixed;
    top: 0;
    left: 45%;
    height: 60px;
    z-index: 9999;

    & .logo {
        margin-top: -60px;
        font-size: 3em;
        -webkit-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1); /* older webkit */
        -webkit-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); 
           -moz-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); 
             -o-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); 
                transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); /* custom */
    }

    // logo transition
    & .logo-bounce {
        -webkit-transform: translateY(70px);
    }

    & nav {
        position: fixed;
        top: 30%;
        right: 0;

        & li {
            
        }
    }
}



//////////////////////////////// Main section
.main {
    padding-top: 60px;
    height: 100vh;
}

.main-inner {
    width: 100%;
    max-width: 1060px;
}

.main-copy {
    width: 60%;
    float: left;

    & .main-copy-headline {
        margin-left: -50px;
        -webkit-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1); /* older webkit */
        -webkit-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); 
           -moz-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); 
             -o-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); 
                transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); /* custom */
    } 

    & .main-copy-paragraph {
        margin-top: 50px;
        -webkit-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1); /* older webkit */
        -webkit-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); 
           -moz-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); 
             -o-transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); 
                transition: all 500ms cubic-bezier(0.135, 0.620, 0.535, 1.425); /* custom */
    } 
}

.main-copy-headline-bounce {
    -webkit-transform: translateX(50px);
}


.main-copy-paragraph-bounce {
    -webkit-transform: translateY(-50px);
}

//////////////////////////////// Second section
.second-break {
    height: 50px;
    width: 100%;
}

.second {
    position: relative;
    height: 600px;
    width: 100%;
    max-width: 1060px;
}

.box-two {
    position: absolute;
    top: 40px;
    left: 60px;
    height: 100px;
    width: 100px;
    background-color: coral;
    transition: all .5s ease-in-out;
}

//////////////////////////////// Third section
.third-break {
    height: 50px;
    width: 100%;
}

.third {
    position: relative;
    height: 600px;
    width: 100%;
    max-width: 1060px;
}

.box-three {
    position: absolute;
    top: 40px;
    left: 60px;
    height: 100px;
    width: 100px;
    background-color: coral;
    transition: all .5s ease-in-out;
}

///////////////////////// Scroll Movements

.box-two-move {
    top: 60px;
    left: 200px;
    transition: all .5s ease-in-out;
}

//////////////////////////////////////// Footer

footer {
    height: 200px;
    width: 100%;
    background-color: #191918;
    color: white;

    & .footer-container {
        width: 100%;
        max-width: 1060px;

        & button {

        }

        & li {
            display: inline-block;
        } 
    }
}


////////////////////////// Browse Happy
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
